<div class="service-container">
  <ul>
    <li>
      <span>Start:</span>
      <span>{{@service.attributes.start}}</span>
    </li>
    <li>
      <span>End:</span>
      <span>{{@service.attributes.end}}</span>
    </li>
    <li>
      <span>Cost:</span>
      <span>{{@service.attributes.cost}}</span>
    </li>
    <li>
      <span>tndCost:</span>
      <span>{{@service.attributes.tndCost}}</span>
    </li>
    <li>
      <span>genCost:</span>
      <span>{{@service.attributes.genCost}}</span>
    </li>
    <li>
      <span>Use:</span>
      <span>{{@service.attributes.use}}</span>
    </li>
    <li>
      <span>Use Unit:</span>
      <span>{{@service.attributes.useUnit}}</span>
    </li>
    <li>
      <span>Demand:</span>
      <span>{{@service.attributes.demand}}</span>
    </li>
    <li>
      <span>Use:</span>
      <span>{{@service.attributes.use}}</span>
    </li>
  </ul>
</div>